.add{
    height: 80px;
    width: 480px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.TH1{
    margin-top: 5%;
    font-size: 300%;
    color: hsl(213, 96%, 18%);
}

.ST9{
    margin-top: 5%;
}

.add:hover{
    border:solid 1px rgb(255, 193, 193);
    height: 80px;
    width: 480px;
    border-radius: 5px; 
    cursor:pointer;
    background-color: hsl(229, 24%, 87%);
}